body{
    margin: 0;
}
.banner{
    background: url('https://miro.medium.com/max/4800/0*PKx2kZonfzAceptO') center / cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signout{
    position: absolute;
    right: 5%;
    top: 5%;
    pad: 10px 20px;
    border-radius: 60px;
    border: 0;
    background: red;
    color: silver;
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
}
.card{
    width: 500px;
    height: 400px;
    background: white;
    border-radius: 5px;
}

.card-header{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.card-header input{
    padding: 7px;
    margin: 5px 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.card-header button{
    position: absolute;
    right: -10%;
    width: 100px;
    padding: 5px 0;
    background: blue;
    border: 0;
    outline: 0;
    border-radius: 100px;
    font-weight: 800;
    color: white;
}

.card-body{
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    border-bottom: 1px solid ;
}


.card-person{
    width: 100%;
    background: silver;
    box-shadow: 0 0 10px white;
    padding: 5px 0;
    margin: 10px 0;
    border-radius: 5px;
}

.card-person:hover{
    background: rgba(0, 0, 0, 0.8);
}

.card-person img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.card-center{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.tools i{
    cursor: pointer;
    margin: 0 3px;
}

.tools i:nth-child(1){
    color: green;
}
.tools i:nth-child(2){
    color: red;
}


.card-result{
    padding: 0 2%;
    height: 200px;
    overflow-y: auto;
}